<article>
  <section class="filters">
    <form id="searchForm" role="form" action="/;jsessionid=61B10B6F9C08053BE8BC9B7447D2DFD5" method="post">
      <ul>
        <li>
          <label for="Buildings">
            <div class="custom">
            {{view "select"
              content=buildings
              optionValuePath="content.id"
              optionLabelPath="content.name"
              selection=selectedBuilding
              prompt="Any building"}}
            </div>
          </label>
        </li>
        <li class="hidden">
          <label for="DateTime">
            <input id="DateTime" type="datetime-local">
          </label>
        </li>
        <li class="hidden">
          <label for="Attendees">
            {{input type="number" placeholder="# of people" value=capacity}}
          </label>
        </li>
        <li>
          {{input type="checkbox" name="capacity" checked=5 viewName="capacity"}}
          <label {{bind-attr for="view.capacity.elementId"}}>5 <span class="icon-person"></span></label>
          {{input type="checkbox" name="capacity" checked=10 viewName="capacity"}}
          <label {{bind-attr for="view.capacity.elementId"}}>10 <span class="icon-person"></span></label>
          {{input type="checkbox" name="capacity" checked=15 viewName="capacity"}}
          <label {{bind-attr for="view.capacity.elementId"}}>15 <span class="icon-person"></span></label>
        </li>
        <li>
          {{input type="checkbox" name="projector" checked=projector viewName="projector"}}
          <label {{bind-attr for="view.projector.elementId"}}><span class="icon-projector"></span> Projector</label>
        </li>
        <li>
          {{input type="checkbox" name="conferencePhone" checked=conferencePhone viewName="conferencePhone"}}
          <label {{bind-attr for="view.conferencePhone.elementId"}}><span class="icon-phone"></span> Conference Phone</label>
        </li>
        <li class="hidden">
          <label for="Search">
            <input type="submit" id="Search" value="Search" class="button" />
          </label>
        </li>
      </ul>
    </form>
  </section>
  <section class="results">
    <h2>{{filteredRooms.length}} Rooms available</h2>
    <hr/>
    <ul>
    {{#each building in packagedRooms}}
      <h2>{{building.name}}</h2>
      {{#each room in building.rooms}}
        <li>
          <h3>{{room.name}}</h3>
          {{#if room.projector}}
            <span class="icon-projector"></span>
          {{/if}}
          {{#if room.conferencePhone}}
            <span class="icon-phone"></span>
          {{/if}}
          {{room.capacity}} <span class="icon-person"></span>
          {{#if room.hasUsageRestrictions}}
            {{#if room.generalUsage}}
            <br/>
            <span class="icon-warning"></span> {{room.manager}}
            {{/if}}
          {{/if}}
          <br/>
          <em>{{room.equipment}}</em>
        </li>
      {{/each}}
    {{/each}}
    </ul>
  </section>
</article>