<article>
  <section class="filters">
    <form id="searchForm" role="form" action="/;jsessionid=61B10B6F9C08053BE8BC9B7447D2DFD5" method="post">
      <ul>
        <li>
          <label for="Buildings">
          	<span class="icon-office"></span>
            <div class="custom">
            {{view "select"
              content=buildings
              optionValuePath="content.id"
              optionLabelPath="content.name"
              selection=selectedBuilding
              prompt="Any building"}}
            </div>
          </label>
        </li>
        <li>
          <label for="Attendees">
            <span class="icon-person"></span>
            {{input type="number" placeholder="# of people" value=seating}}
          </label>
        </li>
        <li>
          {{display-input checked=display name="display"}}
        </li>
        <li>
          {{phone-input checked=phone name="phone"}}
        </li>
        <li class="hidden">
          <label for="DateTime">
            <input id="DateTime" type="datetime-local">
          </label>
        </li>
        <li class="hidden">
          <label for="Search">
            <input type="submit" id="Search" value="Search" class="button" />
          </label>
        </li>
      </ul>
    </form>
    <div class="feedback">
      <ul>
        <li><em>Phase 2 will integrate with outlook to book a room</em></li>
        <li><a href="mailto:chris.geyer@raleighnc.gov?Subject=Conference Room App Feedback">Send us feedback about this app</a></li>
        <li><br/></li>
        <li><a href="mailto:will.refvem@raleighnc.gov?Subject=Conference Room Data Feedback">Tell us about wrong room information</a></li>
      </ul>
    </div>
  </section>
  <section class="results">
    <h2>{{filteredRooms.length}} Rooms available</h2>
    {{#each packagedRooms key="@guid" as |building|}}
    <h4>{{building.name}}</h4>
    <ul>
      {{#each building.rooms key="@guid" as |room|}}
        <li>
          <h3>{{room.roomType}} {{room.roomNumber}}</h3>
          {{#if room.display}}
            <span class="icon-projector"></span>
          {{/if}}
          {{#if room.phone}}
            <span class="icon-phone"></span>
          {{/if}}
          {{#if room.network}}
            <span class="icon-network"></span>
          {{/if}}
          {{room.seating}} <span class="icon-person"></span>
          {{#if room.hasUsageRestrictions}}
            <span class="icon-warning"></span> {{room.usageRestrictions}} - contact {{room.manager}}
          {{/if}}
        </li>
      {{/each}}
    </ul>
    {{/each}}
  </section>
</article>